<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
      <label for="username">
        Username
      </label>
      <br>
      <input id="username" type="text" formControlName="username">
  </div>

  <div>
      <label for="password">
        Password
      </label>
      <br>
      <input id="password" type="password" formControlName="password">
  </div>
  <br>
  <button class="button" type="submit">Log In</button>
  
</form>

<button routerLink="/signup">Sign Up</button>