<div *ngIf="user1 && user2">
    <h2>Chatting with {{user2.username}}</h2>

    <ul class="messages">
        <li *ngFor="let message of messages">
            <p *ngIf="message.user1.username == user1.username" class="sent">{{message.user1.username}}: {{message.content}}</p>
            <p *ngIf="message.user1.username == user2.username" class="received">{{message.user1.username}}: {{message.content}}</p>
        </li>
    </ul>

    <input id="messageInput" name="messageInput" [(ngModel)]="messageInput"><br>
    <input type="button" value="Send" (click)="this.sendMessage()">
</div>
